*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

$prime: #BF4C0C
$blue: #414175
$second: #000

html
    scroll-behavior: smooth

body
    min-height: 100vh
    color: #1A262D
    background-color: #FFFFFF
    font-family: 'Proxima Nova', sans-serif
    display: flex
    flex-direction: column

.h1,.h2,.h3,.h4,.h5
    margin: 0
    font-family: 'Tomarik', sans-serif
    font-weight: normal

.headline
    font-family: 'Tomarik', sans-serif
    font-weight: 400
    font-size: 54px
    line-height: 60px
    margin: 0 0 8px
    color: $prime

.textline
    font-weight: 600
    font-size: 34px
    line-height: 44px
    margin: 0 0 16px

.h2
    font-size: 52px
    line-height: 58px
    margin: 0 0 34px

img
    max-width: 100%

a,
button
    display: inline-block
    text-decoration: none
    transition: all ease .2s
    background-color: transparent
    &:active
        transform: scale(.98)

    img
        display: block

strong, b
    font-weight: 700

.text-center
    text-align: center

mark
    background-color: $prime
    color: #000
    display: inline-block
    padding: 2px 8px 4px

.btn
    font-size: 24px
    line-height: 24px
    text-align: center

    display: block
    width: fit-content
    border-radius: 4px
    color: $blue
    padding: 16px 75px
    border: 2px solid var(--background_blue, #414175)
    &:hover
        background: $blue
        color: white

    &__2
        font-weight: 700 
        font-size: 16px
        padding: 6px 31px
        color: white
        background-color: $prime
        border-color: rgba(0, 0, 0, 0)
        &:hover
            color: $prime
            border-color: $prime
            background-color: rgba(0, 0, 0, 0)

.fx, .fxb, .fxc
    display: flex
    align-items: center

.fxc
    flex-direction: column
.fxb
    justify-content: space-between

.lang
    &-content
        display: none

section
    padding: 40px 0
