@import 'normolize'
@import 'elements'
@import 'header'
@import 'slick'

.main
    background-color: $blue
    overflow: hidden
    background-image: url('../img/trees.svg')
    background-repeat: no-repeat
    background-position: center center
    background-size: 95% auto
    margin-bottom: 40px
    .container
        min-height: 90vh
        padding-bottom: 80px

    &::after
        content: ''
        display: block
        width: 100%
        height: 5.3vw
        background-image: url('../img/wrap.jpg')
        background-repeat: no-repeat
        background-size: 100% auto
        background-position: center bottom

    &__img
        margin: auto

    @media screen and ( max-width: 1200px )
        margin-bottom: 24px
        .container
            min-height: unset

        &__img
            margin: 10vw auto
            max-width: 287px
            min-width: 45%

.trainings
    &__subheading
        font-weight: 600
        font-size: 36px
        line-height: 32px
        margin: 0 0 16px

    &__descr
        font-size: 22px
        line-height: 26px
        font-weight: 400
        margin: 0 0 24px

    &__text
        margin: 0
        font-size: 18px
        line-height: 27px

    &__img
        display: block
        margin: 48px auto

    &-box
        background-color: #F5F4F3
        padding: 48px 0px
        gap: 64px

    &-item
        text-align: center
        margin: 0

        &__heading
            font-weight: 600
            text-transform: uppercase
            display: block
            font-size: 16px
            line-height: 26px
            margin: 0 0 8px
            color: $blue

        &__text
            display: block
            font-family: 'Tomarik', sans-serif
            font-size: 40px
            line-height: 36px
            color: $prime

    @media screen and ( max-width: 1200px )
        &__subheading
            font-size: 26px
            line-height: 28px
            margin-bottom: 10px

        &__descr
            font-size: 18px
            line-height: 24px

        .btn
            width: 100%

        &__preview
            height: 100%
            object-fit: cover

        &__text
            margin-bottom: 16px

        &-box
            padding: 16px 0
            gap: 0

        &-item
            width: 100%
            border-bottom: 1px solid #DBDBDB
            padding: 16px
            &:last-of-type
                border: none

            &__heading
                font-size: 18px
                line-height: 120%
                margin-bottom: 4px
            &__text
                font-size: 28px
                line-height: 120%

    @media screen and ( max-width: 700px )
        .btn
            margin-bottom: 48px
        &__preview

            display: block

.competitions
    padding-bottom: 0
    &::after
        content: ''
        display: block
        width: 100%
        height: 5.3vw
        background-image: url('../img/wrap.jpg')
        background-repeat: no-repeat
        background-size: 100% auto
        background-position: center bottom
        transform: scaleY(-1)
        margin-top: 40px

    &-title
        text-align: center
        margin-bottom: 8px

    .item
        margin-bottom: 24px
        &__tag
            background-color: $blue
            color: white
            display: inline-block
            padding: 3px 8px
            border-radius: 2px
            font-size: 14px
            line-height: 19.6px
            position: absolute
            top: 16px
            left: 16px
            z-index: 1111

        &-img
            position: relative
            z-index: 1

        &__img
            display: block
            margin: 0 0 16px
            border-radius: 4px

        &__text
            font-size: 16px
            line-height: 24px
            margin: 0 0 16px

        &-list
            list-style: none
            &_2
                padding: 0 0 0 22px

            li
                display: flex
                align-items: center
                justify-content: space-between
                margin-bottom: 20px
                background-repeat: no-repeat
                background-image: url('../img/lines.svg')
                background-position: center center
                &:last-of-type
                    margin-bottom: 0

            &__heading
                font-size: 22px
                line-height: 28px

            &__img
                display: block
                margin: 0
                background-color: #fff

            &__text
                background-color: #fff
                padding: 0 0 0 8px
                min-width: 60px
                display: inline-block
                font-size: 14px
                line-height: 150%

    @media screen and ( max-width: 1000px )
        .container
            max-width: 100% !important

        .item
            margin: 0 12px
            width: 300px
            &-list
                &__img
                    width: 30px

        .slick
            &-list
                padding: 0 24px !important

.schedule
    background-color: $blue
    color: white
    padding-bottom: 0
    &::after
        content: ''
        display: block
        width: 100%
        height: 5.3vw
        background-image: url('../img/wrap.jpg')
        background-repeat: no-repeat
        background-size: 100% auto
        background-position: center bottom
        margin-top: 80px

    &__text
        text-align: center
        max-width: 871px
        margin: 0 auto 40px
        font-size: 18px
        line-height: 27px
        font-weight: 400

    .item
        margin: 0 auto
        max-width: 649px
        gap: 24px
        --title-w: 14%
        position: relative
        z-index: 1
        margin-bottom: 24px
        &::before
            content: ''
            display: block
            width: 2px
            height: calc( 100% - 48px )
            background-image: url('../img/line_down.svg')
            background-repeat: no-repeat
            background-position: center bottom
            position: absolute
            bottom: 0
            right: calc( 100% - var(--title-w) - 24px - 24px - 32px + 39px )
        &-title
            font-size: 14px
            width: var(--title-w)
            margin: 0
            span
                display: block

        &__head
            font-weight: 700
            color: $prime
            margin: 0 0 4px

        &__heading
            font-size: 18px
            font-weight: 700
            line-height: 27px

        &__text
            font-size: 14px
            line-height: 21px

        &-box
            width: calc( 100% - var(--title-w) - 24px - 24px - 32px )
            background-color: #fff
            padding: 16px
            color: #000
            border-radius: 4px
            position: relative
            z-index: 1
            &::before
                content: ''
                pointer-events: none
                display: block
                position: absolute
                top: 8px
                left: -7px
                width: 0px
                height: 0px
                border-style: solid
                border-width: 5.5px 9.5px 5.5px 0
                border-color: transparent #FFFFFF transparent transparent
                transform: rotate(0deg)

    @media screen and ( max-width: 1200px )
        .item
            --title-w: 0%
            gap: 32px

            &::before
                right: auto
                left: 16px

            &-title
                display: none

            &-box
                width: calc(100% - 64px)

    @media screen and ( max-width: 700px )
        &__text
            text-align: left
        .item
            gap: 16px
            &__heading
                font-size: 16px
                line-height: 150%

            &__text
                font-size: 14px
                line-height: 150%

            &-box
                width: calc( 100% - var(--title-w) - 16px - 32px )

@import 'footer'

.imprint
    .headline
        text-align: left !important

    &__subheading
        font-weight: 600
        font-size: 34px
        line-height: 110%
        margin: 8px 0 16px

    &__text 
        font-size: 18px 
        line-height: 150%

    &-main
        &::after
            display: none
        .container
            padding-bottom: 0
            min-height: 420px

    @media screen and ( max-width: 1000px )
        &-main
            .container
                min-height: 550px
            .main__img
                max-width: 285px

    @media screen and ( max-width: 700px )
        &-main
            &::after
                display: block
            .container
                min-height: 352px

        &__subheading
            font-size: 20px
            line-height: 26px

        
        
